
@media screen and (max-width:576px) {
    
    button{
        height: 4.5vh;   
    }
    .btnwidth{
        width: 24vw;
    }
    .btnwidth-sec-2{
        width: 24vw;
    }
    .btnwidth-bookingoffer{
        width: 24vw;
    }
    .home-text p{   
        padding: 0.2rem;
        width: 45vw;
    }
    .home-text h2{
        font-size: 2.2rem;
    }
    .navbar{
        height: 10vh;
    }
    .advertisement-card, .inner-data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .advertisement-card{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.081);
        
    }
    .inner-data h4{
        height: 1rem;
    }
    .inner-data p{
        text-align: center;
    }
    .booking-offer{
        height: 40vh;
        background-image: url('./images/bookingoffer-mobile.jpg');
    }
    .heading .heading-top{
        width: 8vw;
    }
    
}


@media screen and (min-width:768px) and (max-width:992px) {
    
    button{
        height: 4.5vh;   
    }
    .btnwidth{
        width: 18vw;
    }
    .btnwidth-sec-2{
        width: 14vw;
    }
    .btnwidth-bookingoffer{
        width: 14vw;
    }
    .home-text p{   
        padding: 0.2rem;
        width: 25vw;
    }
    .home-text h2{
        font-size: 3.49rem;
    }
    .navbar{
        height: 8vh;
    }
    .advertisement-card{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.081);   
    }
    .booking-offer{
        height: 40vh;  
    }
    .heading .heading-top{
        width: 6vw; 
    }
    
}

