
@media screen and (max-width:576px) {
    
    button{
        height: 4.5vh;   
    }
    .btnwidth{
        width: 24vw;
    }
    .btnwidth-sec-2{
        width: 24vw;
    }
    .btnwidth-course{
        width: 35vw;
    }
    .btnwidth-bookingoffer{
        width: 24vw;
    }
    .home-text p{   
        padding: 0.2rem;
        width: 45vw;
    }
    .home-text h2{
        font-size: 2.2rem;
    }
    .navbar{
        height: 10vh;
    }
    .advertisement-card, .inner-data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .advertisement-card{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.081);
        
    }
    .inner-data h4{
        height: 1rem;
    }
    .inner-data p{
        text-align: center;
    }
    .booking-offer{
        height: 40vh;
        background-image: url('./images/bookingoffer-mobile.jpg');
    }
    .heading .heading-top{
        width: 8vw;
    }
    .courses .card img{
        height: 20vh;
    }
    footer .footer-logo h5{
        width: 40vw;
        font-size: 0.8rem;
    }
    .advertisement-footer{
        margin-bottom: 1rem;
    }
    .about-bg{
        position: relative;
        height: 50vh;
        background-position: center;
    }
    .abt-left, .register-img{
        height: 30vh;
    }
    .contact-card{
        height: 20vh;  
    }
    .contact-card a{
        color: white;
        height: 50%;
        transform: translateZ(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .contact-card i{
        font-size: 2rem;
    }  
}


@media screen and (min-width:768px) and (max-width:992px) {
    
    button{
        height: 4.5vh;   
    }
    .btnwidth{
        width: 18vw;
    }
    .btnwidth-sec-2{
        width: 14vw;
    }
    .btnwidth-bookingoffer{
        width: 14vw;
    }
    .btnwidth-course{
        width: 25vw;
    }
    .home-text p{   
        padding: 0.2rem;
        width: 25vw;
    }
    .home-text h2{
        font-size: 3.49rem;
    }
    .navbar{
        height: 8vh;
    }
    .advertisement-card{
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.081);   
    }
    .booking-offer{
        height: 40vh;  
    }
    .heading .heading-top{
        width: 6vw; 
    }
    .galleryimg{
        height: 20vh;
      
    }
    .courses .card img{
        height: 20vh;
    }
    footer .footer-logo h5{
        width: 25vw;
        font-size: 1rem;
    }
    .advertisement-footer{
        margin-bottom: 1rem;
    }
    .about-bg{
        height: 30vh;
    }
    .abt-left, .register-img{
        height: 30vh;
    }
    .contact-card{
        height: 20vh;  
    }
    .contact-card a{
        color: white;
        height: 50%;
        transform: translateZ(30px);
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
    .contact-card i{
        font-size: 2rem;
    }  
}

