@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

a{
    text-decoration: none;
    color: black;
}

.nav{
    position: fixed;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.747);
}
.navbar{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bar{
    cursor: pointer;
}
.nav h5{
    border: 1px solid white;
    color: white;  
}
span{
    color: red;
}
.navslide{
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.916);
    
}
.navslide ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navslide ul li{
    list-style: none;
    padding: 1rem;
    margin: 0.5rem;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.phone{
    padding: 1rem;
    background-color: red;
    color: white;
}
.navslide ul li :hover{
    border: 1px solid red;
    background-color: red;
    color:white   ;
    padding: 1rem;
    margin: 0.5rem;
} 
.home-bg{
    height: 100vh;
    background-image: url('./images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-bg .home-text{
    color: white;
   
}
.home-text p{
    border: 1px solid white;
    padding: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 15vw;
    font-size: small;
    text-align: center;

}
.home-text h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}
.a{
    color: white;
}
.a:hover{
    color: white;
}
button{
    outline: none;
    border: none;
    height: 6.5vh;
    text-transform: uppercase;
    font-size: small;
    color: white;
    background-image: linear-gradient(to right, red , rgb(255, 196, 0));

}
.btnwidth{
    width: 9vw;
}
.btnwidth-sec-2{
    width: 12vw;
}
button i{
    padding-left: 1rem;
}
.advertisement-card-pannel{
    margin-top: -5rem;
    
}
.advertisement-card{
    background-color: #fff;
    width: 22rem;
    border-radius: 4px;
    
}
.advertisement-card h2{
    font-size: 7rem;
    font-weight: 200;
    color: rgb(238, 238, 238);
}

.advertisement-card .inner-data{
    margin-top: -5rem;
}
.inner-data h4{
    text-transform: uppercase;
    font-weight: bold;
    height: 2.5rem;
}
.inner-data p{
    font-size: small;
}
.inner-data a{
    color: red;
    font-size: small;
    text-transform: uppercase;
}
.sec-2-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sec-2-text h3{
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2rem;
}
.sec-2-text p{
    font-size: small;
}
.booking-offer{
    height: 50vh;
    background-image: url('./images/booking-offer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}
.btnwidth-bookingoffer{
    width: 12vw;
}
.booking-offer h2{
    font-weight: bold;
    line-height: 2.3rem;
}
.booking-offer p{
    font-size: small;
    letter-spacing: 0.2rem;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading .heading-top{
    width: 4vw;
    height: 0.3rem;
    background-color:red;
    border-radius: 2rem;
}
.heading h2{
    text-transform: uppercase;
    font-weight: 600;
}
.heading p{
    font-size: small;
}
.services .card , .services .card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .card .card-body{
    flex-direction: column;
    transition:cubic-bezier(0.19, 1, 0.22, 1)
}
.card-body h5{
    font-weight:bold;
    text-transform: uppercase;
    color: red;
}
.card{
    border: none;
}
.card-body p{
    font-size: small;
}
.services .card img{
    width: 5rem;
    height: 5rem;
}
.card:hover{
   transform: scale(0.9);
   transition: 1s;

}
