@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

a{
    text-decoration: none;
    color: black;
}
.loading{
    
    position: fixed;
    height: 100vh;
    background: black;
    z-index: 9999;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading h5{
    border: 2px solid white;
    animation: loading 1s ease 0s 2 alternate-reverse forwards;
} 
@keyframes loading{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
} 

.nav{
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.747);
}
.navbar{
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bar{
    cursor: pointer;
}
.nav h5{
    border: 1px solid white;
    color: white;  
}
span{
    color: red;
}
.navslide{
    z-index: 99;
    display: none;
    position: fixed;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.916);
    
}
.navslide ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.navslide ul li{
    list-style: none;
    padding: 1rem;
    margin: 0.5rem;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.phone{
    padding: 1rem;
    background-color: red;
    color: white;
}
.navslide ul li :hover{
    border: 1px solid red;
    background-color: red;
    color:white   ;
    padding: 1rem;
    margin: 0.5rem;
} 
.home-bg{
    height: 100vh;
    background-image: url('./images/home-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-bg .home-text{
    color: white;
   
}
.home-text p{
    border: 1px solid white;
    padding: 0.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 15vw;
    font-size: small;
    text-align: center;

}
.home-text h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
}
.a{
    color: white;
}
.a:hover{
    color: white;
}
button{
    outline: none;
    border: none;
    height: 6.5vh;
    text-transform: uppercase;
    font-size: small;
    color: white;
    background-image: linear-gradient(to right, red , rgb(255, 196, 0));

}
.btnwidth{
    width: 9vw;
}
.btnwidth-sec-2{
    width: 12vw;
}
button i{
    padding-left: 1rem;
}
.advertisement-card-pannel{
    margin-top: -5rem;
    
}
.advertisement-card{
    background-color: #fff;
    width: 22rem;
    border-radius: 4px;
    
}
.advertisement-card h2{
    font-size: 7rem;
    font-weight: 200;
    color: rgb(238, 238, 238);
}

.advertisement-card .inner-data{
    margin-top: -5rem;
}
.inner-data h4{
    text-transform: uppercase;
    font-weight: bold;
    height: 2.5rem;
}
.inner-data p{
    font-size: small;
}
.inner-data a{
    color: red;
    font-size: small;
    text-transform: uppercase;
}
.sec-2-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.sec-2-text h3{
    text-transform: uppercase;
    font-weight: 600;
    line-height: 2rem;
}
.sec-2-text p{
    font-size: small;
}
.booking-offer{
    height: 50vh;
    background-image: url('./images/booking-offer-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
}
.btnwidth-bookingoffer{
    width: 12vw;
}
.btnwidth-course{
    width: 12vw;
}
.booking-offer h2{
    font-weight: bold;
    line-height: 2.3rem;
}
.booking-offer p{
    font-size: small;
    letter-spacing: 0.2rem;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading .heading-top{
    width: 4vw;
    height: 0.3rem;
    background-color:red;
    border-radius: 2rem;
}
.heading h2{
    text-transform: uppercase;
    font-weight: 600;
}
.heading p{
    font-size: small;
}
.services .card , .services .card .card-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .card .card-body{
    flex-direction: column;
    transition:cubic-bezier(0.19, 1, 0.22, 1)
}
.card-body h5{
    font-weight:bold;
    text-transform: uppercase;
    color: red;
}
.card{
    border: none;
}
.card-body p{
    font-size: small;
}
.services .card img{
    width: 5rem;
    height: 5rem;
}
.card:hover{
   transform: scale(0.9);
   transition: 1s;
  

}
.galleryimg{
    height: 35vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(1);
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.galleryimg:hover{
    filter: grayscale(0);
 

}
.img1{
    background-image: url('https://images.unsplash.com/photo-1522898467493-49726bf28798?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
}
.img2{
    background-image: url('https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.img3{
    background-image: url('https://images.unsplash.com/photo-1541534741688-6078c6bfb5c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80');
}
.img4{
    background-image: url('https://images.unsplash.com/photo-1546483875-ad9014c88eba?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=674&q=80');
}
.img5{
    background-image: url('https://images.unsplash.com/photo-1583454110551-21f2fa2afe61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80');
}
.img6{
    background-image: url('https://images.unsplash.com/photo-1581009137042-c552e485697a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
}
.img7{
    background-image: url('https://images.unsplash.com/photo-1599058917212-d750089bc07e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=749&q=80');
}
.img8{
    background-image: url('https://images.unsplash.com/photo-1554284126-aa88f22d8b74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=857&q=80');
}
.testimonial-pannel{
    background-color: rgb(24, 24, 24);
}
.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.testimonial h2{
    color: red;
    
}
.testimonial h5{
    text-transform: uppercase;
    font-weight: 600;
}
.testimonial p{
    font-size: small;
}
.testimonial h6{
    font-weight: 200;
}
.courses .card{
    padding: 1rem;
}
.courses .card img{
    height: 40vh;
}
.courses .card h5{
    color: black;
    text-transform: capitalize;
    font-weight: 600;
}
footer{
    background-color: rgb(24, 24, 24);
    padding: 2rem;
}
footer .footer-logo h5{
    width: 20vw;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    padding: 0.5rem;
}
footer ul li{
    list-style: none;
}
footer h6{
    color: red;
    text-transform: uppercase;
}
footer  a{
 font-size: small;
 color: rgb(231, 231, 231);
}
footer li:hover a{
 
    color: rgb(255, 255, 255);
   }
footer  a i{
   margin-right: 1rem;
   }
.lower-footer{
    background-color: rgb(24, 24, 24);
}   
.advertisement-footer{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    
    
}
.advertisement-footer p{
    margin-bottom: 0;
}